<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homiez">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.StartActivity">
        </activity>
        <activity android:name=".presentation.SelfPostings"></activity>
        <activity android:name=".presentation.RequestsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.homiez.presentation.SelfPostings" />
        </activity>
        <activity android:name=".presentation.RequestActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.homiez.presentation.RequestsActivity" />
        </activity>
        <activity android:name=".presentation.PostingActivity"></activity>
    </application>

</manifest>