<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="comp3350.group6.homiez">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="comp3350.group6.homiez.presentation.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="comp3350.group6.homiez.presentation.RequestsActivity"></activity>

        <activity android:name="comp3350.group6.homiez.presentation.AnswerRequestActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.group6.homiez.presentation.RequestsActivity" />
        </activity>

        <activity android:name="comp3350.group6.homiez.presentation.PostingActivity"></activity>
        <activity android:name="comp3350.group6.homiez.presentation.MatchesActivity"></activity>
        <activity android:name="comp3350.group6.homiez.presentation.CreatePostingActivity"></activity>
        <activity android:name="comp3350.group6.homiez.presentation.MainActivity"></activity>
        <activity android:name="comp3350.group6.homiez.presentation.CreateProfileActivity"></activity>
        <activity android:name="comp3350.group6.homiez.presentation.CustomizeProfileActivity"></activity>
        <activity android:name="comp3350.group6.homiez.presentation.PublicProfileActivity"></activity>
    </application>

</manifest>